
#featurette-background{
  background-color: #f9fbc6;
  border:2px solid;
  border-radius: 45px;
  color: black;
}

#button-color-grey{
  background-color: grey;
  border:1px solid white;
}
#button-color-green{
  background-color: green;
  border: 1px solid white; 
}
#button-color-2{
  background-color: #6de1bb;
  border: 1px solid black;
  color:black;
}
#header-adjustment{
  text-align:center;

}

#jumbo1-bg{
  background-image: url('images/wheaton.jpg');
  
}