
#featurette-background{
  background-color: #f9fbc6;
  /*background: -webkit-linear-gradient(bottom, #9ec7c8 , #f9fbc6);*/ /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(top ,   #9ec7c8   #f9fbc6);     */  /* For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(top , #9ec7c8, #f9fbc6);      */ /* For Firefox 3.6 to 15 */
  /*background: linear-gradient(to top ,  r#9ec7c8,  #f9fbc6);     */ /* Standard syntax */
  border:2px solid;
  border-radius: 45px;
  color:black;
}

#button-color-grey{
  background-color: grey;
  border:1px solid white;
}
#button-color-green{
  background-color: green;
  border: 1px solid white; 
}
#button-color-2{
  background-color: #6de1bb;
  border: 1px solid black;
  color:black;
}
#header-adjustment{
  text-align:center;

}