body{
	background-color: #EDEBE8;
}


.clear{
	clear:both;
}
#wrapper{
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	font-family: arial, sans-serif;
	font-size: 14px;
}


header{
	padding-top:10px;
	padding-bottom: 10px;
	height:80px;
	
}
header img{
	float:left;
	padding:5px;
}

header ul{
	list-style: none;
	float: right;
}
header ul li{
	display:inline;
	margin-right: 20px;
}
header a{
	text-decoration: none;
	color: #777;
}
header a:hover{
	color:#222;
}



/*SECTION*/
section{
	float: left;
	padding: 15px;
	width: 930px;
	background-color: #F2F2F2;
	border-radius:5px; 
	border: 1px solid #DEDCD9;


}



footer{
	clear: both;
	padding-left: 20px;
	background-color: #F2F2F2;
	border-radius:5px; 
	border: 1px solid #DEDCD9;

}
footer ul{
	float:right;
}
footer ul li{
	display:inline;
	margin-right: 20px;
}

footer ul li a{
	text-decoration: none;
	color: #777;
	font: 14px;
}

footer ul li a:hover{
	color:#222;
}
/*Start section classes*/

.title-link {
	text-decoration: none;
	color:#777;
	font:14px;
	font-weight: 600;
}
.title-link:hover{
	color: #222;
}

.new-posts{
	padding: 5px;
}

.new-posts img{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;

}
.new-posts p{
	font-size: 11px;
}







